@page
@model CommunityApp.Pages.Provinces.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Province[0].ProvinceName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Province) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProvinceName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProvinceCode">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProvinceCode">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProvinceCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
